[Unit]
Description=Express Application
After=network.target

[Service]
ExecStart=/bin/bash /home/e-commerce-be/e-commerce/server-script/startapp.sh
StartLimitInterval=0
WorkingDirectory=/home/e-commerce-be/e-commerce

[Install]
WantedBy=multi-user.target